body {font-family: Arial, Helvetica, sans-serif;}
form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  text-align: center;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


.container {
  padding: 16px;
  
  background-color: black;
}

span.psw {
  float: right;
  padding-top: 16px;
}


nav {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

.navHead1 {
    display: flex; 
    align-items: left;
    justify-content: space-between; /*Align the flex items at the center of the container: */
  }

  .search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 8px 20px;
    border-radius: 20px;
  }
/* Setting up the div search input */
.searchInput {
    border: none;
    background-color: transparent;
    align-items: left;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
  }
/* text in the placeholder */
.searchInput::placeholder {
    color: lightgray;
  }

.logo{
    max-width:  500px;
    max-height: 140px;
}
    
.container {
    background-color: black;
    background: url(./img/backgroundImage.jpg);
    margin: 0 auto;
    height: 100%;
}

    
/* setting div navHead2 container of the page */
.navHead2 {
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  
  /* setting up different menu items */
  .category {
    margin-right: 70px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
  }
  .category:hover{
  color: #008cff;
  }

/* setting div navHead1 container of the page */
/* The Flexible Box Layout Module, makes it easier to design flexible responsive layout structure without using float or positioning. */
.navHead1 {
    display: flex; 
    align-items: left;
    justify-content: space-between; /*Align the flex items at the center of the container: */
  }


/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}
