
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

/* Full-width input fields */
input[type=text], input[type=password], input[type=tel] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  text-align: center;
}

input[type=text]:focus, input[type=password]:focus, input[type=tel]:focus {
  background-color: #ddd;
  outline: none;
  
  text-align: center;
}


/* Set a style for all buttons */
button {
  background-color: #59ff00;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.8;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f10000;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.signUpcontainer {
  background-color: black;
  background: url(./img/backgroundImage.jpg);
  margin: 0 auto;
  height: 100%;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
  margin: auto;
  width: 50%;
}

nav {
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }

.navHead1 {
    display: flex; 
    align-items: left;
    justify-content: space-between; /*Align the flex items at the center of the container: */
  }

  .search {
    display: flex;
    align-items: center;
    background-color: gray;
    padding: 8px 20px;
    border-radius: 20px;
  }
/* Setting up the div search input */
.searchInput {
    border: none;
    background-color: transparent;
    align-items: left;
  }

  .label{
    text-align: center;
  }
/* text in the placeholder */
.searchInput::placeholder {
    color: lightgray;
  }

  .logo{
    max-width:  500px;
    max-height: 140px;
    }
    

    
/* setting div navHead2 container of the page */
.navHead2 {
    display: flex;
    align-items: center;  
    justify-content: center;
  }
  
  /* setting up different menu items */
  .category {
    margin-right: 70px;
    cursor: pointer;
    color: lightgray;
    font-weight: 400;
  }
  .category:hover{
  color: #008cff;
  }

  .formFields{
    width: 35%;
    margin: auto;
    text-align: center;
  }

/* setting div navHead1 container of the page */
/* The Flexible Box Layout Module, makes it easier to design flexible responsive layout structure without using float or positioning. */
.navHead1 {
    display: flex; 
    align-items: left;
    justify-content: space-between; /*Align the flex items at the center of the container: */
  }

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 600px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
  nav{
    padding: 20px;   /* will limit the padding to 20px for small screen*/ 
  }

  .logo{
      width: 100%;
  }

  .search{
    display: none;  /* removing search display for small screen */
  }

  .navHead2{
    flex-wrap: wrap;  /* Wrap up the nav bar in case of small screen */
  }

  .category{      /* decrease margin and font - size of the nav category item */
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
}

