
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Selected Lato fonts family from the fonts.google.com-->
    <link href={{url_for('text')}} rel="stylesheet"/>
        <!--For social media icons-->
        <link type="text/css" href={{url_for('text2')}} rel="stylesheet"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <title>Fashion Jewellers/AboutUs</title>
</head>

<body>
    <nav id="navHead">
        <div class="navHead1">
            <div class="Head1Item">
                <a href="#"><img src="{{url_for('static', filename='./img/jewellerlogo.png')}}" alt="" class="logo"></a>
            </div>
            <div class="Head1Item">
                <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="{{url_for('static', filename='./img/search.png')}}" width="20" height="20" alt="" class="searchIcon">
                </div>
            </div>
        </div>
        <div class="navHead2">
            <a href={{url_for('home')}}> <h3 class="category">Home</h3></a>
            <a href={{url_for('product')}}> <h3 class="category">Products</h3></a>
            <a href={{url_for('chart')}}> <h3 class="category">Sales Report Charts</h3></a>
            <a href={{url_for('about')}}> <h3 class="category">About Us</h3></a>
        </div>
    </nav>

    <!--About Us-->
    <!--Ref: https://www.youtube.com/watch?v=H-DvSPRnKWQ-->
    <section class="team">
        <div class="centre">
            <h1>MEET OUR TEAM</h1>
            <h3>Our team's work on the e-commerce website for the Fashion Jewellers brand is a testament to our collaborative efforts.
                 We have created a visually striking and user-friendly platform that reflects our shared dedication to excellence in design and functionality. 
                Our website truly reflects our team's passion for creating a beautiful e-commerce website that resonates with the customers.
            </h3>
        </div>
        <div class="team-content">
            <!--Member 1-->
            <div class="box">
                <img src={{url_for('static', filename='./img/shambhavi.jpeg')}} width ="250" height="250">
                <h3>Shambhavi Mishra</h3>
                <h5>Aspiring Data Engineer</h5>
                <p>I designed and developed the About Us page and provided a variety of visual designs and feedback that align with the corporate style guide.
                     This ensured that the page was well-organized, flexible, and easy for users to navigate.
                      Furthermore, I enhanced the About Us page and ensured consistent theme and visuals of the home page.
                    </p>
                <div class="icons">
                    <a href={{url_for('lksm')}}> <i class="ri-linkedin-box-fill"></i></a>
                    <a href={{url_for('gism')}}><i class="ri-github-fill"></i></a>
                </div>
            </div>
            <!--Member 2-->
            <div class="box">
                <img src={{url_for('static', filename='./img/RK.jpeg')}} width ="250" height="250">
                <h3>Raghav Khurana</h3>
                <h5>Aspiring Data Scientist</h5>
                <p>As a former backend e-commerce developer, I contributed to the development of the Product Listing, Landing pages and page redirects. Additionally, I focused on improving the 
                       website's functionality giving priority to user experience by incorporating dynamic elements using Bootstrap, JavaScript for image sliders and aesthetic CSS elements.</p>

                <div class="icons">
                    <a href={{url_for('lkrk')}}><i class="ri-linkedin-box-fill"></i></a>
                    <a href={{url_for('girk')}}><i class="ri-github-fill"></i></a>
                </div>
            </div>
            <!--Member 3-->
            <div class="box">
                <img src={{url_for('static', filename='./img/chandni.jpeg')}} width ="250" height="250">
                <h3>Chandni Kumari</h3>
                <h5>Aspiring Data Scientist</h5>
                <p>I was responsible for designing the Home Page's Header and Footer, and I meticulously tested all the functionalities developed by the team, including the coding, to ensure the website's smooth and efficient performance. Additionally, I handled the product sales dataset and utilized chart.js to generate charts that display the sales data.</p>
                <div class="icons">
                    <a href={{url_for('lkck')}}><i class="ri-linkedin-box-fill"></i></a>
                    <a href={{url_for('gick')}}><i class="ri-github-fill"></i></a>
                </div>
            </div>
            <!--Member 4-->
            <div class="box">
                <img src={{url_for('static', filename='./img/cp.jpeg')}} width ="250" height="250">
                <h3>Chandan Patel</h3>
                <h5>Aspiring Data Scientist</h5>
                <p>I developed and designed an eye-catching layout for the website's Home Page that accurately represents the brand's image and values, while keeping it easy to use for the users. Additionally, I focused on creating the Navigation Bar and integrating it with all other pages, as well as improving the website's responsiveness and styling.</p>
                <div class="icons">
                    <a href={{url_for('lkcp')}}><i class="ri-linkedin-box-fill"></i></a>
                    <a href={{url_for('gicp')}}><i class="ri-github-fill"></i></a>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer of the page-->
    <footer>
        <div class="footerLeft">
            <div>
                <a href={{url_for('about')}}> <h1 class="fTitle">About Us</h1> </a>
                <ul class="fList">
                    <a href={{url_for('about')}}>
                    <li class="fItem">Chandan Patel</li>
                    <li class="fItem">Raghav Khurana</li>
                    <li class="fItem">Chandni Kumari</li>
                    <li class="fItem">Shambhavi Mishra</li>
                    </a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Useful Links</h1>
                <ul class="fList">
                    <a href={{url_for('comingsoon')}}><li class="fItem">Support</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Refund</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">FAQ</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Feedback</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Careers</li></a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Products</h1>
                <ul class="fList">
                    <a href={{url_for('product')}}>
                        <li class="fItem">Necklace</li>
                        <li class="fItem">Earrings</li>
                        <li class="fItem">Rings</li>
                        <li class="fItem">Bracelets</li>
                        <li class="fItem">Trending</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footerRight">
            <div>
                <h1 class="fTitle">Subscribe to our newsletter</h1>
                <div class="fMail">
                    <input type="text" placeholder="your@email.com" class="fInput">
                    <button class="fButton">Join!</button>
                </div>
            </div>
            <div>
                <h1 class="fTitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="{{url_for('static', filename='./img/fb.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/twit.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/insta.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/whtsap.png')}}" alt="" class="fIcon">
                </div>
            </div>
            <div>
                <span class="copyright">@Fashion Jewellers All rights reserved. 2023.</span>
            </div>
        </div>
    </footer>
    <script type= "text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
</body>

<!--Ref: https://www.youtube.com/watch?v=H-DvSPRnKWQ-->