<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Selected Lato fonts family from the fonts.google.com-->
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <title>Fashion Jewellers</title>
</head>

<body>
    <nav id="navHead">
        <div class="navHead1">
            <div class="Head1Item">
                <a href="#"><img src="{{url_for('static', filename='./img/jewellerlogo.png')}}" alt="" class="logo"></a>
            </div>
            <div class="Head1Item">
                <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="{{url_for('static', filename='./img/search.png')}}" width="20" height="20" alt="" class="searchIcon">
                </div>
            </div>
        </div>
        <div class="navHead2">
            <a href={{url_for('home')}}> <h3 class="category">Home</h3></a>
            <a href={{url_for('product')}}> <h3 class="category">Products</h3></a>
            <a href={{url_for('chart')}}> <h3 class="category">Sales Report Charts</h3></a>
            <a href={{url_for('about')}}> <h3 class="category">About Us</h3></a>
        </div>
    </nav>
  

    <div class="slider">
        <a href="./Product/product.html">
        <img src="{{url_for('static', filename='./img/sl1.jpg')}}" alt="" >        
        <img src="{{url_for('static', filename='./img/sl2.jpg')}}" alt="" >               
        <img src="{{url_for('static', filename='./img/earrings1.jpg')}}" alt="" >      
        </a>    
    </div>
      

    <!-- Addition of Services-->
    <div class="Services">
        <div class="Service">
            <img src="{{url_for('static', filename='./img/shipping.png')}}" alt="" class="Icon"> <br>
            <a href="./comingSoon.html"><span class="Name">FREE SHIPPING</span></a><br>
            <span class="Details">Free worldwide shipping on all orders.</span>
        </div>
        <div class="Service">
            <img class="Icon" src="{{url_for('static', filename='./img/return.png')}}" alt=""><br>
            <a href="./comingSoon.html"><span class="Name">7 DAYS RETURN</span></a><br>
            <span class="Details">No question return and easy refund in 14 days (T&C**).</span>
        </div>
        <div class="Service">
            <img class="Icon" src="{{url_for('static', filename='./img/gift.png')}}" alt=""><br>
            <a href="./comingSoon.html"><span class="Name">GIFT CARDS</span></a><br>
            <span class="Details">Buy gift cards and use coupon codes easily.</span>
        </div>
        <div class="Service">
            <img class="Icon" src="{{url_for('static', filename='./img/contact.png')}}" alt=""><br>
            <a href="./comingSoon.html"><span class="Name">CONTACT US</span></a><br>
            <span class="Details">Keep in touch via email and support system.</span>
        </div>
    </div>

    <!-- Gallery addition to the page-->
    <h2 class="collectionHead"> SHOP BY COLLECTION</h2>
    <div class="collectionContainer">
        <div class="collectionItem">
            <h1>Be Yourself!</h1>
            <h2> Jewelry That Says Be Yourself</h2>
            <a href="./Product/product.html"><img src="{{url_for('static', filename='./img/gallery2.jpg')}}" alt="" class="collectionImg"></a>
        </div>
        <div class="collectionItem">
            <a href="./Product/product.html"><img src="{{url_for('static', filename='./img/gallery3.jpg')}}" alt="" class="collectionImg"></a>
            <h1>Diamond Stud Rings!</h1>
            <h2> A Wide Range Of Exquisite Rings</h2>
        </div>
        <div class="collectionItem">
            <h1>Celeb Style!</h1>
            <h2> Browse Collections And Designers</h2>
            <a href="./Product/product.html"><img src="{{url_for('static', filename='./img/gallery1.jpg')}}" alt="" class="collectionImg"></a>
        </div>
    </div>

    <!-- All Season & New Collection Display and Promotion-->
    <div class="promotion">
        <div class="promotionItem">
            <a href="./Product/product.html"><img src="{{url_for('static', filename='./img/About_BG_07.jpg')}}" alt="" class="promotionImg"></a>
        </div>
        <div class="promotionItem">
            <h3>WEDDING COLLECTIONS</h3>
            <h1 class="promotionTitle">All Season</h1>
            <h1 class="promotionTitle">New Arrivals</h1>
            <a href="./Product/product.html">
                <button class="promotionButton">CHOOSE YOUR STYLE</button>
            </a>
        </div>
        <div class="promotionItem">
            <a href="./Product/product.html"><img src="{{url_for('static', filename='./img/earring5.jpg')}}" alt="" class="promotionImg"></a>
        </div>
    </div>
    <br>
    <br>

    <!-- Footer of the page-->
    <footer>
        <div class="footerLeft">
            <div>
                <a href="./about/about.html"> <h1 class="fTitle">About Us</h1> </a>
                <ul class="fList">
                    <a href="./about/about.html">
                    <li class="fItem">Chandan Patel</li>
                    <li class="fItem">Raghav Khurana</li>
                    <li class="fItem">Chandni Kumari</li>
                    <li class="fItem">Shambhavi Mishra</li>
                    </a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Useful Links</h1>
                <ul class="fList">
                    <a href="./comingSoon.html"><li class="fItem">Support</li></a>
                    <a href="./comingSoon.html"><li class="fItem">Refund</li></a>
                    <a href="./comingSoon.html"><li class="fItem">FAQ</li></a>
                    <a href="./comingSoon.html"><li class="fItem">Feedback</li></a>
                    <a href="./comingSoon.html"><li class="fItem">Careers</li></a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Products</h1>
                <ul class="fList">
                    <a href="./Product/product.html">
                        <li class="fItem">Necklace</li>
                        <li class="fItem">Earrings</li>
                        <li class="fItem">Rings</li>
                        <li class="fItem">Bracelets</li>
                        <li class="fItem">Trending</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footerRight">
            <div>
                <h1 class="fTitle">Subscribe to our newsletter</h1>
                <div class="fMail">
                    <input type="text" placeholder="your@email.com" class="fInput">
                    <button class="fButton">Join!</button>
                </div>
            </div>
            <div>
                <h1 class="fTitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="{{url_for('static', filename='./img/fb.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/twit.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/insta.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/whtsap.png')}}" alt="" class="fIcon">
                </div>
            </div>
            <div>
                <span class="copyright">@Fashion Jewellers All rights reserved. 2023.</span>
            </div>
        </div>
    </footer>
    <script type= "text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
</body>