
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Selected Lato fonts family from the fonts.google.com-->
    <link href={{url_for('text')}} rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}" />
    <title>Fashion Jewellers/Product</title>
</head>

<body>
    <nav id="navHead">
        <div class="navHead1">
            <div class="Head1Item">
                <a href="#"><img src="{{url_for('static', filename='./img/jewellerlogo.png')}}" alt="" class="logo"></a>
            </div>
            <div class="Head1Item">
                <div class="search">
                    <input type="text" placeholder="Search..." class="searchInput">
                    <img src="{{url_for('static', filename='./img/search.png')}}" width="20" height="20" alt="" class="searchIcon">
                </div>
            </div>
        </div>
        <div class="navHead2">
            <a href={{url_for('home')}}> <h3 class="category">Home</h3></a>
            <a href={{url_for('product')}}> <h3 class="category">Products</h3></a>
            <a href={{url_for('chart')}}> <h3 class="category">Sales Report Charts</h3></a>
            <a href={{url_for('about')}}> <h3 class="category">About Us</h3></a>
        </div>
    </nav>

    <!-- Product Landing/Listing Page, this page shows all available products as tiles -->
    <div class="productLandingPage">
        <div class="card">  <!-- Div for each tile -->
            <div class="cardImage"> <!-- This div contains the product image on the PLP tile-->
                <img src="{{url_for('static', filename='./img/b1.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent"> <!-- Product Content insdie the tiles-->
                <a href={{url_for('bracelet')}}><h1>Emerald Bracelet</h1></a>
                <p class="price">$239.99</p>
                <p>A beautiful emerald bracelet</p>
            </div>
            <div class="divCartButton"> <!-- Add to cart button for tiles-->
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="card"><!-- Div for each tile -->
            <div class="cardImage"><!-- This div contains the product image on the PLP tile-->
                <img src="{{url_for('static', filename='./img/er1.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent"><!-- Product Content insdie the tiles-->
                <a href={{url_for('earring')}}><h1>Diamond Earring</h1></a>
                <p class="price">$199.99</p>
                <p>An elegant multilevel diamond earring</p>
            </div>
            <div class="divCartButton"> <!-- Add to cart button for tiles-->
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="card"><!-- Div for each tile -->
            <div class="cardImage"><!-- This div contains the product image on the PLP tile-->
                <img src="{{url_for('static', filename='./img/n1.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent"><!-- Product Content insdie the tiles-->
                <a href={{url_for('necklace')}}><h1>Cute Gold Heart Necklace</h1></a>
                <p class="price">$148.99</p>
                <p>This cute brushed gold necklace is very versatile</p>
            </div>
            <div class="divCartButton"> <!-- Add to cart button for tiles-->
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        <div class="card"><!-- Div for each tile -->
            <div class="cardImage"><!-- This div contains the product image on the PLP tile-->
                <img src="{{url_for('static', filename='./img/r1.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent"><!-- Product Content insdie the tiles-->
                <a href={{url_for('rings')}}><h1>4ct Diamond Ring</h1></a>
            <p class="price">$199.99</p>
            <p>Bright 4 carat Diamond Ring with small diamonds on the band</p>
            </div>
            <div class="divCartButton"> <!-- Add to cart button for tiles-->
                <p><button>Add to Cart</button></p>
            </div>
        </div>   

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/b2.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Brushed Diamond and Silver</h1>
                <p class="price">$99.97</p>
                <p>Brushed Silver and diamond Band</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/b3.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Gold Enclosed Diamond</h1>
                <p class="price">$349.59</p>
                <p>Cross hatched gold pattern bracelet with diamonds</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/b4.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Gold painted bracelet</h1>
            <p class="price">$33.89</p>
            <p>Daily Wear gold painted bracelet</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 
        
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/er2.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Heart Earring</h1>
                <p class="price">$19.99</p>
                <p>A cute heart earring</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/er3.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Simple Faux Diamond Ring Earring</h1>
                <p class="price">$79.99</p>
                <p>A set of simple ring earrings</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/er4.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Cube Glass Earring</h1>
                <p class="price">$72.99</p>
                <p>A minimalistic small cubed glass earring</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/n2.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Diamond Pendant</h1>
                <p class="price">$599.99</p>
                <p>This diamond pendant adds an elegant look to any outfit</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/n3.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Ying Necklace</h1>
                <p class="price">$99.99</p>
                <p>This Ying necklace is very versatile</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/n4.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Landscaper Ring Necklace</h1>
                <p class="price">$240.99</p>
                <p>This landscaper Ring necklace makes the perfect gift for a loved one</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div>
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/r2.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>All around Diamond Ring</h1>
                <p class="price">$4399.99</p>
                <p>A perfect engagement band</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 
        
        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/r3.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Blue Stone with Diamonds</h1>
                <p class="price">$2299.99</p>
                <p>Excuisite Shiny Diamond surrounded with 24 small blue stones</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 

        <div class="card">
            <div class="cardImage">
                <img src="{{url_for('static', filename='./img/r4.jpeg')}}" alt="" style="width:100%">
            </div>
            <div class="cardContent">
                <h1>Thick diamond studded Gold Ring</h1>
            <p class="price">$2204.99</p>
            <p>The perfect royal look to complement any outfit</p>
            </div>
            <div class="divCartButton">
                <p><button>Add to Cart</button></p>
            </div>
        </div> 
    </div>

   
    <!-- Footer of the page-->
    <footer>
        <div class="footerLeft">
            <div>
                <a href={{url_for('about')}}> <h1 class="fTitle">About Us</h1> </a>
                <ul class="fList">
                    <a href={{url_for('about')}}>
                    <li class="fItem">Chandan Patel</li>
                    <li class="fItem">Raghav Khurana</li>
                    <li class="fItem">Chandni Kumari</li>
                    <li class="fItem">Shambhavi Mishra</li>
                    </a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Useful Links</h1>
                <ul class="fList">
                    <a href={{url_for('comingsoon')}}><li class="fItem">Support</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Refund</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">FAQ</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Feedback</li></a>
                    <a href={{url_for('comingsoon')}}><li class="fItem">Careers</li></a>
                </ul>
            </div>
            <div>
                <h1 class="fTitle">Products</h1>
                <ul class="fList">
                    <a href={{url_for('product')}}>
                        <li class="fItem">Necklace</li>
                        <li class="fItem">Earrings</li>
                        <li class="fItem">Rings</li>
                        <li class="fItem">Bracelets</li>
                        <li class="fItem">Trending</li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="footerRight">
            <div>
                <h1 class="fTitle">Subscribe to our newsletter</h1>
                <div class="fMail">
                    <input type="text" placeholder="your@email.com" class="fInput">
                    <button class="fButton">Join!</button>
                </div>
            </div>
            <div>
                <h1 class="fTitle">Follow Us</h1>
                <div class="fIcons">
                    <img src="{{url_for('static', filename='./img/fb.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/twit.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/insta.png')}}" alt="" class="fIcon">
                    <img src="{{url_for('static', filename='./img/whtsap.png')}}" alt="" class="fIcon">
                </div>
            </div>
            <div>
                <span class="copyright">@Fashion Jewellers All rights reserved. 2023.</span>
            </div>
        </div>
    </footer>
    <script type= "text/javascript" src="{{url_for('static', filename='app.js')}}"></script>
</body>